div(style="height:56px;")
.footer-box
	//- .footer-top
	//- 	.container
	//- 		.row.py-2
	//- 			.col-4 hello
	//- 			.col-4 hello
	//- 			.col-4 hello
	//- .footer-mid
	//- 	.container
	//- 		.row
	//- 			.col-12(align="center")
	//- 				img(src="/imgs/logo123.jpg", width="200px")
	.footer-bom
		.container
			.row.pt-3
				.col-12(align="center")
					p Copyright © 2020 kelinlab.com - P.IVA 6958945646