extends ../aalayout/layout

block content
	.container
		h1 #{title}
		hr
		form#adAddGroup(method="post", action=thisAct+"New", enctype="multipart/form-data")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="iptCode") 名称
				.col-8.col-sm-6
					input#iptCode.form-control(type="text", name="obj[code]")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="iptResp") 联系人
				.col-8.col-sm-6
					input#iptResp.form-control(type="text", name="obj[resp]")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="iptTel") 电话
				.col-8.col-sm-6
					input#iptTel.form-control(type="text", name="obj[tel]")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="iptNation") 国家
				.col-8.col-sm-6
					input#iptNation.form-control(type="text", name="obj[nation]")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="iptCity") 城市
				.col-8.col-sm-6
					input#iptCity.form-control(type="text", name="obj[city]")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="iptBank") 银行
				.col-8.col-sm-6
					input#iptBank.form-control(type="text", name="obj[bank]")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="iptIban") iban
				.col-8.col-sm-6
					input#iptIban.form-control(type="text", name="obj[iban]")
			hr
			.form-group.row
				.offset-sm-6.col-sm-2
					input.btn.btn-success.btn-block(type="submit" value="添加Group")