extends ../aalayout/layout

block content
	.container
		.row
			.col-6.col-lg-3
				a(href="/ptTicket")
					img(src="/imgs/index/ptTicket.jpg", width="180px", height="180px", style="margin-left: auto;  margin-right:auto;display:block;")
					//- span Order List
				a.btn.btn-default.btn-lg.btn-block(href="/ptTicket") 小票打印
			.col-6.col-lg-3
				a(href="/ptStamp")
					img(src="/imgs/index/ptPrinter.jpg", width="180px", height="180px", style="margin-left: auto;  margin-right:auto;display:block;")
					//- span Order List
				a.btn.btn-default.btn-lg.btn-block(href="/ptStamp") 打印机打印
