doctype
html
	head
		title #{title}
		include ../../../aaViews/aalayout/head
		link(href="/css/printStyle.css", rel="stylesheet", type="text/css", media="print")
	body
		include ./header
		block content